<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a11699.comp_chat">

    <application>
        <activity
            android:name=".ChatActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.crow.chat"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".MessageActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.crow.chat"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
    </application>
</manifest>
