<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a11699.comp_im">

    <application>
        <activity android:name=".activity.ImActivity"

            />
        <!--  -->
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.AAAA"

            />
    </application>
</manifest>
