<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a11699.comp_netstudyt">

    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".NetStudy" />
        <activity android:name="com.example.a11699.pack.NetStudyActivity" />
    </application>
</manifest>
